body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    color:black;

}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: white;
    border-bottom: black;

}

.nav-logo{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.hero-image img{
    width: 100px;
}

.nav-a{
    text-decoration: none;
    color: brown;
    font-size: 14px;
}

.hero{align-items: center;
    padding: 80px 20px;


}

.hero-h1{font-size: 45px;
    font-weight: 800;
    line-height: 1.2;

}

